<h2>Vous souhaitez partager votre calendrier à Jean-philippe? </h2>
<p>Veuillez définir les autorisations </p>
<form [formGroup]="authorizationForm">
  <p><mat-checkbox formControlName="read" (change)="RemoveWritAndModifIfReadIsFalse($event)">Lecture</mat-checkbox></p>
  <p><mat-checkbox formControlName="write" (change)="setReadIfWriteAndModify($event)">Écriture</mat-checkbox></p>
  <p><mat-checkbox formControlName="modification" (change)="setReadIfWriteAndModify($event)">Modification</mat-checkbox></p>
  <button mat-raised-button color="warn" (click)="onSubmit()" class="btn-authorize">Valider</button>
</form>

