@use "../../../style/Utils/breakpoints" as *;
.container-meteo{
  display: flex;

  @include lg {
    flex-direction: column;
  }
}

/*.container-meteo__left{
  max-width: 500px;
  width: 100%;

  @include sm {
   width: 100%;
  }
}*/
.city-search-wrapper {
  display: flex;
  flex-flow: column;
  flex: 1 1;
  position: relative;;
  overflow-y: auto;
}

.city-search-header {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}

.city-search-body {
  width: 100%;
  min-height: 60%;
  display: flex;
  justify-content: center;
}

.city-search-hr {
  word-spacing: 1rem;
  margin: 2rem;
}


.search-city-input-wrapper {
  position: relative;
  width: 80%;
  box-sizing: border-box;

  @include sm {
    display: none;
  }
}

.search-city-input {
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem;
  border-radius: 3rem;
  outline: none;
  border: none;
  box-shadow: 0 0 2rem 0.15rem rgba(0, 0, 255, 0.1);
  font-size: 1rem;
  color: #131F69;
  text-transform: uppercase;
}

.search-city-input::placeholder {
  font-size: 1rem;
  color: #131F69;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}



.container-meteo {
 /* max-width: 500px;*/
/*  background: #f1f1f1;*/
  color: #333;
  padding-top: 20px;
  box-shadow: 0 4px 7px rgba(0,0,0,0.375);
  border-radius: 10px;
  margin: 0 auto 20px;
  /*background-color: #5c7d99;*/
  background-image: linear-gradient(to right top, #2c3e50, #606979, #9498a3, #c9cad0, #ffffff);
  background-size: cover;
  position: relative;
}
h1 {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  text-align: center;
}
h1 span {
  font-weight: bold;
}
.weather-information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}
.weather-image {
  transform: scale(1.4);
  margin-bottom: 10px;
  border-radius: 50%;
}
.bloc-info {
  text-align: center;
}
.temperature {
  font-size: 30px;
  font-weight: bolder;
}
.position {
  font-size: 20px;
  font-weight: 300;
  word-break: break-all;
}
.bottom-content {
  border-top: 1px solid #3333335a;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px 10px 10px;
  background: #fff;
}
.tabs button:hover {
  color: #9d9d9d;
  border: 1px solid #c7c7c7;
}
.tabs button.active {
  color: #222;
  border: 1px solid #b6b6b6;
}
.forecast-content {
  display: grid;
}
.forecast {
  display: none;
}
.day-forecast,
.hour-forecast {
  grid-area: 1 / 1 / 2 / 2;
  grid-template-columns: repeat(7, 1fr);
}
.day-forecast.active,
.hour-forecast.active {
  display: grid;
}
.forecast-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.forecast-block p {
  padding: 0 5px;
}
.forecast-block p:nth-child(2) {
  margin-top: 10px;
}
.hour-name,
.day-name {
  font-size: 18px;
  font-weight: 700;
}
.hour-temp,
.day-temp {
  font-weight: 400;
  color: gray;
}
.forecast-block:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 60px;
  right: 0;
  background: #d7d7d7;
}

@keyframes load {
  to {
    transform: translateY(10px);
  }
}

p.hour-temp{
  margin: 0;
}

p.hour-name{
  margin-bottom: 0;
}
