<div class="container">
  <div class="getStarted__logo__information">
    <div class="getStarted__logo__information__header">
      <img src="../../../../assets/images/icons8-calendar-100.png" alt="logo">
      <h2 class="getStarted__logo__information__title">Bienvenue ! Créons votre profil</h2>
    </div>
    <div>
      <h2 class="mb-50">Ajoutez une photo de profil</h2>
      <div class="getStarted__logo__information__picture mb-50">
        <div class="block-left d-flex flex-align-items-center flex-justify-content-center">
          <mat-icon *ngIf="!url" class="camera">photo_camera</mat-icon>

          <img class="preview w100 h100" *ngIf="url" [src]="url" />
        </div>
        <div class="block-right">
          <div class="block-right__label">
            <label for="file" class="label-file p-15 fw-700">Choisir une image</label>
            <input type="file" class="input-file" id="file" (change)="onselectFile($event)" />
          </div>
          <p class="block-right__defaultImage" (click)="setPopup()">> Prenez notre image par default</p>
          <div class="block-right__popup" *ngIf="popup === true">
            <img
              (click)="setFiles($event)"
              class="block-right__popup__image"
              src="/assets/images/lion.jpg"
              alt="lion"
            />
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="mb-50">
        <form [formGroup]="updateForm" class="form-update">
          <h2 class="mb-50">Ajoutez votre ville</h2>
            <mat-form-field floatLabel="never" class="form-input" >
              <mat-label>City</mat-label>
              <input type="text" matInput placeholder="Orléans" data-cy-city name="city" formControlName="city" >
              <mat-error>Afin de bénéficier de la météo personnalisée, il est indispensable de renseigner une localisation</mat-error>
            </mat-form-field>
          <h2 class="mb-50">Description du calendrier</h2>
          <mat-form-field floatLabel="never" appearance="outline" class="form-input">
            <mat-label>Description</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5" formControlName="description"></textarea>
            <mat-error>Ce champ est requis</mat-error>
          </mat-form-field>
          <mat-error></mat-error>
          <button [disabled]="updateForm.invalid || updateForm.untouched" mat-raised-button color="primary" data-cy-inscription type="submit" (click)="onSubmit()" class="btn-next">Suivant</button>
        </form>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>
