@use "../../../style/Utils/breakpoints" as *;
nav {
  height: 120px;
  background-color: var(--primary);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.left-nav__logo{

  @include sm{
    width: 50px;
  }
}

.icon{
  @include md{
    margin-right: 0px;
  }
}

.display-calendar__name{
  color:var(--color_text-button)
}

.right-nav__name{
  color:var(--color_text-button)
}

.right-nav__avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 0 20px;
  object-fit: cover;
  cursor: pointer;

  @include md{
    display: none;
  }

}

.right-nav__name{
  @include md{
    display: none;
  }
}

.right-nav__container__avatar{
  border-left: 1px solid var(--color_text-button);
}


