<section class="search-user">
  <h1 class="search-user__title">Rechercher un utilisateur</h1>
  <div class="search-user__field">
    <label for="search-user"></label>
    <input
      class="search-user-input"
      placeholder="Qui recherchez vous? "
      type="text"
      id="search-user"
      [(ngModel)]="filteredString"
    />
  </div>
</section>

<section>
  <mat-card (click)="displayModal(user.userId)" class="user-card p-10 d-flex" *ngFor="let user of userList$ | async">
    <mat-card-header class="d-flex">
      <p>{{user | json}}</p>
      <img mat-card-avatar src="/assets/images/lion.jpg">
      <mat-card-title class="user-card__header__text">{{ user.userFirstname | titlecase }} {{ user.userName | titlecase }}</mat-card-title>
      <mat-card-subtitle class="user-card__header__subtitle">{{user.userEmail}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</section>
