<p>manage-authorization works!</p>
<p *ngIf="planningCredentialsEmpty">Aucun partage en cours</p>
<div *ngIf="!planningCredentialsEmpty">
    <div *ngFor="let credential of planningCredentials" >
        <p>{{credential.usersByUserId.userName}} {{credential.usersByUserId.userFirstname}}</p>
       <!-- <span>{{credential.permissionsByPermissionId.permissionName}}</span>-->
    </div>
</div>


<section>
  <mat-card (click)="displayModal(user.userId)" class="user-card p-10 d-flex" *ngFor="let credential of planningCredentials">
    <mat-card-header class="d-flex">
      <img mat-card-avatar src="http://localhost:8080/files/{{credential.usersByUserId.userPicture}}">
      <mat-card-title class="user-card__header__text">{{credential.usersByUserId.userName | titlecase}} {{credential.usersByUserId.userFirstname | titlecase}}</mat-card-title>
    </mat-card-header>
  </mat-card>
</section>
