<h2 class="security-tab__title">Changez de mot de passe</h2>
<form [formGroup]="passwordForm" class="passwordForm">
  <mat-form-field class="d-flex flex-column input-ws100" appearance="outline">
    <mat-label for="oldpassword">Mot de passe actuel</mat-label>
    <input
      matInput
      type="password"
      class="form-control "
      id="oldpassword"
      placeholder="Mot de passe actuel"
      formControlName="oldpassword"
      name="oldpassword"

    />
  </mat-form-field>
  <hr class="mt-20 mb-20" />
    <mat-form-field class="d-flex flex-column input-ws100" appearance="outline" >
      <mat-label for="newpassword">Nouveau mot de passe</mat-label>
      <input
        matInput
        type="password"
        class="form-control"
        id="newpassword"
        placeholder="Nouveau mot de passe"
        formControlName="newPassword"
        name="newPassword"
      />
    </mat-form-field>
    <mat-error class="errorMsg mb-10" *ngIf="passWordHasErrorMessage && passwordForm.dirty">
      {{passWordHasErrorMessage}}
    </mat-error>
    <mat-form-field appearance="outline" class="input-ws100">
      <mat-label for="confirmNewpassword">Confirmer nouveau mot de passe</mat-label>
      <input
        matInput
        type="password"
        class="form-control"
        id="confirmNewpassword"
        placeholder="Confirmer nouveau mot de passe"
        formControlName="confirmNewPassword"
        name="confirmNewPassword"
      />
    </mat-form-field>
  <mat-error class="errorMsg mb-10" *ngIf="matchPasswordHasErrorMessage">
    Les mots de passes ne correspondent pas
  </mat-error>
  <button mat-raised-button color="accent" (click)="onSubmit()" type="submit" class="btn-password" >Enregistrer</button>
</form>
